.mouse-click-events {
  padding: 20px;
  background: #9da9ec;
  color: #fff;
  font-family: arial;
  margin: 10px 10px;
  border: 1px solid red; }
  .mouse-click-events h1 {
    text-transform: uppercase; }

.keyboard-event {
  padding: 20px;
  background: #095f4a;
  color: #fff;
  font-family: arial;
  margin: 10px 10px;
  border: 1px solid red; }
  .keyboard-event h1 {
    text-transform: uppercase; }

